body {
  font-family: "Poppins", sans-serif;
  background-color: #d9e6f2; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#description {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

#survey-form {
  background-color: #3578b1;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 0.5rem 0 0;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

button {
  background-color: #5fcf80;
  color: white;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  font-size: 1rem;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45bd6b;
}
